/* ===== BRAND SLIDER ===== */

.brand-section{
    width:100%;
    padding:25px 0;
    background:#ece6f7;
    overflow:hidden;
}

.brand-slider{
    width:100%;
    overflow:hidden;
}

.brand-track{
    display:flex;
    gap:40px;
    width:max-content;
    animation:scrollBrands 40s linear infinite; /* slower speed */
}

.brand-card{
    width:200px;
    height:100px;
    background:white;
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.brand-card img{
    max-width:120px;
    max-height:60px;
}

/* Continuous Scroll */

@keyframes scrollBrands{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-50%);
    }
}